/* stylelint-disable indentation */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navigation-sec {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #383838;
    padding: 7px;
}

.navigation-item {
    color: white;
    font-size: 12px;
}

.nav-logo {
    font-size: xx-large;
    font-family: 'Pacifico', cursive;

}

.nav-home {
    color: #D35266;
}

.fa-bars {
    display: none;
}

.search-sec {
    background-color: #D35266;
    text-align: left;
    color: white;
    font-family: GothamPro, cursive;
}

.big-logo {
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    color: white;
    margin-left: 80px;
}

.big-slogan {
    margin-left: 80px;
}

.search-sec-input {
    display: flex;
    justify-content: left;
    margin-left: 80px;
    display: inline-block;
    margin-bottom: 10px;
}

.search-input {
    border: none;
    padding: 10px;
    margin-left: 1px;
}

.search-btn {
    background-color: white;
    color: #888888;
    padding: 10px;
    font-weight: 700;
    margin-left: 1px;
}

.search-btn-1 {
    background-color: #383838;
    color: #888888;
    padding: 10px;
    font-weight: 700;
    margin-left: 15px;
}

.results-container {
    display: flex;
    background-color: #e0e4e3;
}

.type-select {
    padding: 30px;
    flex: 1;
    border-right: 1px solid #888888;
}

.type-item {
    margin-top: 20px;
}

.select-title {
    display: block;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.results-select {
    flex: 6;
    margin-right: 60px;
    border-right: 1px solid #888888;
}

.result-found {
    margin: auto;
    padding: 15px;
    font-size: small;
    color: #888888;
}

.darker {
    font-weight: bold;
}

.result-card {
    display: flex;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    margin-bottom: 10px;
    padding: 15px;
}

.part-1 {
    flex: 1;
}

.part-1 img {
    max-width: 100%;
    height: auto;
}

.part-2 {
    flex: 3;
    margin-left: 20px;
}

.result-title {
    font-size: revert;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

.plus-btn {
    display: flex;
    justify-content: space-between;
}

.fa-plus-square {
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
}

.meter-cont {
    display: block;
    font-size: revert;
    color: #D35266;
    font-weight: bold;
    margin: 5px 0;
}

.card-caption-1 {
    font-size: small;
    color: #888888;
}

.card-caption-2 {
    font-size: revert;
    color: gray;
}

.darker-1 {
    color: #383838;
    font-weight: 700;
}

.card-date-price {
    display: flex;
    justify-content: space-between;
}

.res-date {
    font-size: small;
    color: grey;
}

.res-price {
    display: block;
    background-color: #D35266;
    color: white;
    font-size: revert;
    padding: 7px;
    font-weight: bold;
    border-radius: 3px;
}

.num-pages {
    text-align: center;
    margin: 15px;
}

.num-item {
    display: inline-block;
    border: 1px solid #888888;
    padding: 0 5px;
    margin: 3px;
    background-color: white;
    font-weight: 600;
    border-radius: 4px;
}

.num-item1 {
    background-color: #D35266;
    color: white;
}

.num-item2 {
    font-weight: 600;
}

.foot-cont {
    display: flex;
    border-bottom: 1px solid lightgray;
}

.brand-ex {
    flex: 2;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.foot-logo {
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
}

.categories-navi {
    flex: 1;
}

.categ-foot-title {
    font-size: revert;
    color: #D35266;
    font-weight: 600;
    border-bottom: 2px solid #D35266;
    margin-right: 20px;
}

.categ-foot-list {
    color: #888888;
}
.copyright-sec {
    color: #888888;
    margin: 5px;
    text-align: center;
}

@media (max-width: 425px) {
    .search-btn {
        display: none;
    }

    .no-small {
        display: none;
    }

    .navigation-item {
        display: none;
    }

    .nav-logo {
        display: inline-block;
    }

    .fa-bars {
        display: inline-block;
        color: #D35266;
        font-size: x-large;
    }

    .search-input {
        border: none;
        padding: 5px;
    }

    .search-btn {
        background-color: white;
        color: #888888;
        padding: 5px;
        font-weight: 700;
        margin-left: 1px;
    }
    
    .hot-ads-sec {
        display: none;
    }

    .categories-navi {
        display: none;
    }
}